.App {
  display: grid;
  grid-template-columns: minmax(25%, 150px) 1fr 1fr;
  grid-template-rows: 100px 350px 100px;
  grid-template-areas:
          "Header Header Header"
          "NavbarContainer Content Content"
          "FooterContainer FooterContainer FooterContainer";
  grid-gap: 5px;
}

.Header, .NavbarContainer, .Groups, .Friends, .Dialogs, .Weather, .Profile, .Content, .Footer1, .Footer2, .Footer3, .FooterContainer {
  text-align: center;
}

.ContextForm {
    background: aqua;
    width: 300px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    opacity: 0.8;
}

.TextProfile {
    white-space: pre-wrap;
}

.NavbarContainer {
  grid-area: NavbarContainer;
  display: grid;
  grid-template-columns: auto;
  grid-template-row: repeat(5, auto);
  grid-template-areas:
          "Profile"
          "Dialogs"
          "Friends"
          "Groups"
          "Weather";
  grid-gap: 5px;
  background: #007aff;
  grid-auto-rows: 30px;
}

.FooterContainer {
    grid-area: FooterContainer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
            "Footer1 Footer2 Footer3";
    grid-gap: 5px;
}

.Header {
    background: aqua;
  grid-area: Header;
}
.Content {
  grid-area: Content;
}
.Footer1 {
  grid-area: Footer1;
    background: #005b1b;
}
.Footer2 {
  grid-area: Footer2;
    background: #00971e;
}
.Footer3 {
  grid-area: Footer3;
    background: #00f924;
}
.Profile {
  grid-area: Profile;
    background: #fff71f;
}
.Groups {
  grid-area: Groups;
    background: #fff71f;
}
.Dialogs {
  grid-area: Dialogs;
    background: #fff71f;
}
.Friends {
  grid-area: Friends;
    background: #fff71f;
}
.Weather {
  grid-area: Weather;
    background: #fff71f;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  max-width: 100%;
  height: auto;
}

span {
    height: 40px;
}

@media (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 100px 100px minmax(350px, auto) auto;
    grid-template-areas:
            "Header Header Header Header Header"
            "NavbarContainer NavbarContainer NavbarContainer NavbarContainer NavbarContainer"
            "Content Content Content Content Content"
            "FooterContainer FooterContainer FooterContainer FooterContainer FooterContainer";
    grid-gap: 5px;
  }
  .NavbarContainer {
    grid-area: NavbarContainer;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
            "Profile Dialogs Friends Groups Weather";
    grid-gap: 5px;
    background: #007aff;
    align-content: center;
  }
    .FooterContainer {
        grid-area: FooterContainer;
        display: grid;
        grid-template-row: 1fr;
        grid-auto-rows: 100px;
        grid-template-areas:
                "Footer1 Footer1 Footer1"
                "Footer2 Footer2 Footer2"
                "Footer3 Footer3 Footer3";
        grid-gap: 5px;
    }
}
