.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
          "Header Header Header"
          "NavbarContainer Content Content"
          "Footer1 Footer2 Footer3";
  grid-gap: 5px;
}

.Header, .NavbarContainer, .Groups, .Friends, .Dialogs, .Weather, .Profile, .Content, .Footer1, .Footer2, .Footer3 {
  text-align: center;
}

.NavbarContainer {
  grid-area: NavbarContainer;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-row: repeat(5, 1fr);
  grid-template-areas:
          "Profile"
          "Dialogs"
          "Friends"
          "Groups"
          "Weather";
  grid-gap: 5px;

}

.Header {
  grid-area: Header;
}
.Content {
  grid-area: Content;
}
.Footer1 {
  grid-area: Footer1;
}
.Footer2 {
  grid-area: Footer2;
}
.Footer3 {
  grid-area: Footer3;
}
.Profile {
  grid-area: Profile;
}
.Groups {
  grid-area: Groups;
}
.Dialogs {
  grid-area: Dialogs;
}
.Friends {
  grid-area: Friends;
}
.Weather {
  grid-area: Weather;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            "Header Header Header Header Header"
            "NavbarContainer NavbarContainer NavbarContainer NavbarContainer NavbarContainer"
            "Content Content Content Content Content"
            "Footer1 Footer1 Footer1 Footer1 Footer1"
            "Footer2 Footer2 Footer2 Footer2 Footer2"
            "Footer3 Footer3 Footer3 Footer3 Footer3";
    grid-gap: 5px;
  }
  .NavbarContainer {
    grid-area: NavbarContainer;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
            "Profile Dialogs Friends Groups Weather";
    grid-gap: 5px;

  }
}
